@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*
{
	background-color: #222222;
	color: #DDD;
	font-family: 'Roboto', sans-serif;
	margin: 10px;
}

h2
{
	font-size: medium;
}

h4
{
	margin-top: 30px;
}

li
{
	list-style: circle;
	margin-left: 0;
}

.center
{
	margin: 0 auto;
	width: 50%;
}