<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="default.css">
	<title>Dev-Web-Viewer</title>
</head>
<body>
	<h1 class="center">Dev-Web-Viewer</h1>
	<h2>Para Começar - Execute o lite-server, ou altere a rota padrão em config.js</h2>
	<br>
	<h1>Comandos:</h1>
	<ul>
		<li><p>Ctrl+1 - Mostra as Dev Tools.</p></li>
		<li><p>Ctrl+2 - Maximiza a janela.</p></li>
		<li><p>Ctrl+3 - Minimiza a janela.</p></li>
		<li><p>Ctrl+4 - Atualiza a página.</p></li>
		<li><p>Ctrl+5 - Recarrega a página da rota.</p></li>
		<li><p>Ctrl+6 - Fecha o programa.</p></li>
	</ul>

	<h4>Autor: PauloVx</h4>
	<a href="https://github.com/PauloVx">Github</a>
</body>
</html>